.footer {
	width: 100vw;
	min-height: calc(var(--vh, 1vh) * 10);
	max-height: calc(var(--vh, 1vh) * 10);
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}

.links {
	text-decoration: none;
}

.link-logo {
	width: auto;
	height: 30px;
}

#linkedin-logo {
	filter: grayscale(1) brightness(5);
}

.link-group {
	margin-top: 10px;
	width: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#footer-text {
	font-size: 12px;
	margin: 2px;
	font-weight: 100;
	/* color: rgb(169, 169, 169); */
}
footer.light {
	background-color: var(--light-bg2);
	color: var(--light-co3);
}
footer.dark {
	background-color: var(--dark-bg2);
	color: var(--dark-co1);
}
