header {
	min-height: 10vh;
	max-height: 10vh;
	width: 100%;
	background-color: rgb(50, 50, 70);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.nav-bar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 8px;
	width: 90%;
	margin: auto;
	height: 6vh;
}

.nav-text {
	text-decoration: none;
	color: white;
	font-weight: 600;
}

a {
	text-decoration: none;
}
.selected {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(10, 10, 81);
	padding: 0px 10px;
	height: 10vh;
	box-shadow: 10px -14px 15px 0px rgba(0, 0, 0, 0.2),
		-10px -15px 15px 4px rgba(0, 0, 0, 0.2);
}
