:root {
	--header-speed: 0.25s;
}

header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header_hidden {
	min-height: 0vh;
	max-height: 0vh;
	width: 100%;
	transition: var(--header-speed);
}
.header_hidden * {
	display: none !important;
	transition: var(--header-speed);
}
.header_hidden .nav-bar {
	transition: var(--header-speed);
}

.header_active {
	min-height: calc(var(--vh, 1vh) * 10);
	max-height: calc(var(--vh, 1vh) * 10);
	width: 100%;
	transition: var(--header-speed);
}

.nav-bar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 8px;
	width: 90%;
	margin: auto;
	height: 6vh;
}

.nav-text {
	text-decoration: none;
	font-weight: 600;
}

.nav-bar a {
	margin: 0px 5px;
	width: 10px;
	flex-grow: 1;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-logo {
	height: calc(var(--vh, 1vh) * 6);
	width: calc(var(--vh, 1vh) * 6);
}

.light header {
	background-color: var(--light-bg2);
}
.dark header {
	background-color: var(--dark-bg2);
}

.light .nav-text {
	color: var(--light-co3);
}

.dark .nav-text {
	color: var(--dark-co1);
}

.dark .nav-logo {
	filter: brightness(200) saturate(0);
}

.light .nav-logo {
	filter: brightness(50) saturate(0);
}

.light a:hover {
	background-color: rgba(85, 85, 107, 0.5);
	height: 10vh;
	box-shadow: 10px -14px 15px 0px rgba(0, 0, 0, 0.2),
		-10px -15px 15px 4px rgba(0, 0, 0, 0.2);
}
.light .selected {
	background-color: rgb(85, 85, 107);
	height: 10vh;
	box-shadow: 10px -14px 15px 0px rgba(0, 0, 0, 0.2),
		-10px -15px 15px 4px rgba(0, 0, 0, 0.2);
}
.dark a:hover {
	background-color: rgba(113, 113, 138, 0.5);
	height: 10vh;
	box-shadow: 10px -14px 15px 0px rgba(0, 0, 0, 0.2),
		-10px -15px 15px 4px rgba(0, 0, 0, 0.2);
}
.dark .selected {
	background-color: rgb(10, 10, 81);
	height: 10vh;
	box-shadow: 10px -14px 15px 0px rgba(0, 0, 0, 0.2),
		-10px -15px 15px 4px rgba(0, 0, 0, 0.2);
}
