.project-card {
	display: flex;
	box-shadow: 7px 10px 28px 8px rgba(0, 0, 0, 0.5);
}

.project-title {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 40px;
	font-size: 25px;
	font-weight: 600;
}
.project-img-cont {
	display: flex;
	flex-grow: 1;
}
.card-contents {
	display: flex;
	flex-direction: column;
	height: 80%;
}
.project-info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-grow: 1;
}
.title-text {
	height: 20px;
}
.project-links {
	display: flex;
	align-items: space-around;
	justify-content: center;
}

/* MOBILE */
@media (max-width: 600px) {
	.project-card {
		min-height: 70vh;
		width: 80vw;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin: 5vh 10vh;
	}

	.project-title {
		display: flex;
	}

	.project-img-cont {
		width: 70vw;
		flex-grow: 1;
		background-color: blueviolet;
	}
	.card-contents {
		display: flex;
		flex-direction: column;
		height: 80%;
	}
	.project-info {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 70vw;
		flex-grow: 1;
	}
	.title-text {
		height: 20px;
	}
	.project-links {
		display: flex;
		align-items: space-around;
		justify-content: center;
	}
}

/* DESKTOP */
@media (min-width: 600px) {
	.project-card {
		display: flex;
		min-height: 70vh;
		width: 80vw;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin: 5vh 10vh;
		box-shadow: 7px 10px 28px 8px rgba(0, 0, 0, 0.5);
	}

	.project-title {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 30px;
	}
	.project-img-cont {
		width: 70vw;
		height: 100%;
		flex-grow: 1;
		background-color: blueviolet;
	}
	.card-contents {
		display: flex;
		flex-direction: column;
		height: 80%;
	}
	.project-info {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 70vw;
		flex-grow: 1;
	}
	.title-text {
		height: 20px;
	}
	.project-links {
		display: flex;
		align-items: space-around;
		justify-content: center;
	}
}
